@{
    ViewData["Title"] = "Reset Password";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<style>

    .auth-wrapper {
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .auth-card {
        width: 420px;
        border-radius: 15px;
    }

    body {
        background: linear-gradient(135deg,#667eea,#764ba2);
    }

</style>

<div class="container auth-wrapper">

    <div class="card auth-card shadow-lg p-4">

        <h3 class="text-center mb-4">
            <i class="fa-solid fa-lock"></i>
            Reset Password
        </h3>

        <form method="post">

            <div class="mb-3">
                <label>New Password</label>
                <input name="password"
                       type="password"
                       class="form-control"
                       placeholder="Enter new password"
                       required>
            </div>

            <button class="btn btn-primary w-100">
                Reset Password
            </button>

        </form>

    </div>

</div>